*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 10px;
}
body {
  font-family: "DM Sans", "Noto Sans KR", sans-serif;
  background: var(--bg);
  color: var(--fg);
  transition:
    background 0.4s,
    color 0.4s;
  overflow-x: hidden;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}
